$bannerFontSize: 7.5vw !default;
$mobilebannerFontSize: 9vw !default;

$mediumFontSize: 2vw !default;
$mobilemediumFontSize: 3.5vw !default;

$smallFontSize:  1.5vw !default;
$mobilesmallFontSize: 3vw !default;

$xtrasmallFontSize: 0.9vw !default;
$mobileextrasmallFontSize: 2vw !default;

$tinyFontSize: 0.7vw !default;


$backgroundColor: #1D1D1D;
$fontColorOne:#D8B274;
$fontColorTwo: #F3F2EE;
$fontColorThree: #6E8898;
$fontColorFour: #D8B274;

$minWidthDesktop: 980px !default;
$maxWidthDesktop: 1024px !default;
$minWidthTablet: 480px !default;
$maxWidthTablet: 768px !default;
$minWidthMobile: 320px !default;
$maxWidthMobile: 600px !default;
