@import "../styles/main.scss";
@import "../styles/content.scss";
 
.profile_image{
    padding-top: 17 vw;
    width: 70%;
}

.techList{
    display: grid;
    // grid-template-columns: repeat(3, minmax(140px, 200px));
    grid-template-columns: repeat(3, minmax(10.0vw, 0.5vw));
    grid-gap: 1.0vw 1.0vw;
    padding: 0;
    margin: 15px 0 0 0;
    overflow: hidden;
    list-style: none;

    @include mobile{
        display: block;
        padding-left: 3vw;

    }

}

.divContent__text{
    width: 75%;

    @include mobile{
        width: 100%;
    }
}