@import "../styles/main.scss";

.credit{
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 1vw;
    font-size: $xtrasmallFontSize;
    
    
    
    @include mobile{
        padding-top: 10vw;
        padding-bottom: 2vw;
        font-size: $mobileextrasmallFontSize;
        
    }
}
